@import "./normalize.scss";
@import "./variables.scss";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--accent2-color);
}

* {
  box-sizing: border-box;
}
