:root {
  --main-color: rgb(53, 129, 177);
  ---side-color: #a8dadcff;
  --background-color: #f4f9f3;
  --accent-color: #e63946ff;
  --accent2-color: #1d3557ff;
  --info-color: #55b3ed;
  --warning-color: #edb855;
  --button-text-color: #fff;

  --tile-color: #ffffff;
  --tile-box-shadow: 1px 1px 7px 2px #e2e2e2;

  --main-side-gradient: linear-gradient(90deg, #e63946ff, #a8dadcff);
}
