.header {
  padding: 5px 0;
  border-bottom: 1px solid;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}
.headerRight {
}
.logo {
  transition: 0.2s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
.logoImage {
}

.menu {
}
.menuList {
  padding: 0;
}
.menuItem {
  list-style: none;
}
.menuLink {
  position: relative;
  color: var(--accent2-color);
  font-size: 16px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background: var(--accent2-color);
    transition: 0.2s;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }

  &:active,
  &.menuLink_active {
    &::before {
      bottom: -4px;
      height: 4px;
      width: 120%;
    }
  }
}

.menuLink_active {
  opacity: 0.5;
}
